<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="verifications.HardAssertClass"/>
      <class name="verifications.SoftAssertClass"/>
      <class name="test.CreateTypeofWork"/>
      <class name="practice.InvocationCount"/>
      <class name="annotations.Annotations"/>
      <class name="test.LoginLogout"/>
      <class name="practice.Priority"/>
      <class name="practice.AbcClass"/>
      <class name="practice.DemoClass"/>
      <class name="practice.DependsOnMethod"/>
      <class name="practice.PriorityInvocation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
